<div  class="container-fluid fsf-zoller-slider">
    <div class="row">
        <div id="{rand}" class="slider-container-slider">
            <f:for
                each="{settings.references}"
                as="reference"
                key="key"
                iteration="iterator"
            >
                <div class="slider-slide">
                    <f:image
                        class="slider-image"
                        src="/uploads/tx_fsfzollerslider/{reference.item.img}"
                    />
                </div>
            </f:for>
        </div>
    </div>
</div>
